.search-wrap {
    grid-area: search;
    background: #fff;
    border-bottom: 1px solid #ede8f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em;
  }
  .search-wrap .search {
    height: 40px;
  }
  .search-wrap .search label {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .search-wrap .search label svg {
    display: block;
  }
  .search-wrap .search label svg path,
  .search-wrap .search label svg circle {
    fill: #b6bbc6;
    transition: fill 0.15s ease;
  }
  .search-wrap .search label input {
    display: block;
    padding-left: 1em;
    height: 100%;
    margin: 0;
    border: 0;
  }
  .search-wrap .search label input:focus {
    background: #f5f5fa;
  }
  .search-wrap .search label:hover svg path,
  .search-wrap .search label:hover svg circle {
    fill: #2b3a60;
  }
  .search-wrap .user-actions button {
    border: 0;
    background: none;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    margin-left: 0.5em;
  }
  .search-wrap .user-actions button svg {
    position: relative;
    top: 2px;
  }
  .search-wrap .user-actions button svg path,
  .search-wrap .user-actions button svg circle {
    fill: #b6bbc6;
    transition: fill 0.15s ease;
  }
  .search-wrap .user-actions button:hover svg path,
  .search-wrap .user-actions button:hover svg circle {
    fill: #2b3a60;
  }