* {
  box-sizing: border-box;
}
img{
  width: 100%;
}
html,
body {
  color: #99a0b0;
  width: 100%;
  height: 100%;
  background: #f5f5fa;
  font-size: 16px;
  line-height: 120%;
  font-family: Open Sans, Helvetica, sans-serif;
}
.dashboard {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-gap: 0;
  grid-template-columns: 300px auto;
  grid-template-rows: 80px auto;
  grid-template-areas: 'menu search' 'menu content';
}



